{
  "presets": [
    [
      "@babel/preset-env",
      {
        "include": [
          "@babel/plugin-transform-class-properties"
        ]
      }
    ],
    [
      "@babel/preset-react",
      {
        "runtime": "automatic"
      }
    ],
    "@babel/preset-typescript"
  ],
  "plugins": [
    [
      "@babel/plugin-proposal-decorators",
      {
        "version": "2023-11"
      }
    ]
  ]
}